@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: rgb(254 242 242);
}

#root h1 {
  text-align: center;
}

.game {
  display: flex;
  width: 100%;
  min-width: 200px;
  align-items: center;
  flex-direction: column;
}

.game-info {
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
}

.board {
  border: 1px solid #999;
  /* margin: -4px; */

}

.board-table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  padding: 0;

  /* -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px */
}

.board-table td {
  border: 1px solid #999;
  height: 3.2rem;
  width: 3.2rem;

  text-align: center;



}

.board-table tr:first-child td:first-child {
  border-top-left-radius: .45rem;
}

.board-table tr:first-child td:last-child {
  border-top-right-radius: .45rem;
}

.board-table tr:last-child td:first-child {
  border-bottom-left-radius: .45rem;
}

.board-table tr:last-child td:last-child {
  border-bottom-right-radius: .45rem;
}

.square {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
